<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vincent.tools.region.infra.mybatis.mapper.RegionMapper">
    <select id="selectByCode" resultType="com.vincent.tools.region.infra.mybatis.po.RegionPo">
        SELECT code, name, level, parent_code AS parentCode
        FROM vin_region
        WHERE code = #{code}
    </select>

    <select id="selectByParentCode" resultType="com.vincent.tools.region.infra.mybatis.po.RegionPo">
        SELECT code, name, level, parent_code AS parentCode
        FROM vin_region
        WHERE parent_code = #{parentCode}
        ORDER BY code
    </select>
</mapper>
